<p><%= "nombre: #{params[:name]}" %></p>
<p><%= "email: #{params[:email]}" %></p>
<p><%= "Asunto: #{params[:name]} solicita suscripción de tipo #{params[:ticket]} a  Archieving con el email #{params[:email]}" %></p>
